<ion-view view-title="FirstSafe" class="splashScreen" hide-nav-bar="true">
  <ion-content>
    <h1>Welcome</h1>

    <div class="list loginContainer">
      <input type="text" ng-model="$ctrl.loginData.nom" placeholder="Username" class="loginInput">
      <input type="password" ng-model="$ctrl.loginData.password" placeholder="Password" class="loginInput">
    </div>
    <div class="loginSignup">
      <button class="button button-block button-positive" type="submit" ng-click="$ctrl.doLogin()">Sign in</button>
      <button class="button button-balanced" type="submit" ng-click="$ctrl.signup()">Create account</button>
    </div>
  </ion-content>


  <div class="row">
    <div class="col text-center">
      <div> <img src="/img/logo.png" class="footerLogo" alt="">
      </div>
    </div>
  </div>
</ion-view>
