<!-- hide-nav-bar="true" -->
<ion-view view-title="FirstSafe" class="splashScreen" hide-nav-bar="true">
<ion-content has-header="true">
    <div class=" headerLogin">
    <div class="row">
      <div class="loginContainer">
        <h1>Welcome</h1>
        <input type="text" ng-model="$ctrl.loginData.username" placeholder="Username" class="loginInput">
        <input type="password" ng-model="$ctrl.loginData.password" placeholder="Password" class="loginInput">
      </div>
    </div>
    <div class="loginSignup">
      <!-- Centrage des bouttons  -->
      <div class="row">
        <div class="col">
          <button class="button button-outline button-positive" type="submit" ng-click="$ctrl.doLogin()">Sign in</button>
        </div>
        <div class="col">
          <button class="button button-outline button-balanced" type="submit" ng-click="$ctrl.signup()">Create account</button>
        </div>
      </div>
    </div>
        </div>
        <div class="row footerLogin">

        </div>
  </ion-content>
</ion-view>
