<ion-modal-view title="ed">
  <ion-content>
    <form ng-submit="$ctrl.doLogin()">
      <div class="form">
          <input type="text" ng-model="$ctrl.loginData.nom" placeholder="Username" class="loginInput">
          <input type="password" ng-model="$ctrl.loginData.password" placeholder="Password" class="loginInput" >
          <button class="button button-clear button-positive" type="submit">Sign in</button>
      </div>
    </form>
    <div class="signup">
      <p>Or </p>
      <button class="button button-clear button-balanced" type="submit" ng-click="$ctrl.signup()">Sign up</button>
    </div>
  </ion-content>

</ion-modal-view>
