<ion-view view-title="FirtSafe">
  <ion-content overflow-scroll="true" >
  <!-- <ion-content overflow-scroll="true" id="margin" has-header="true"> -->
    <ion-content scroll="false">
      <div id="map" data-tap-disabled="true"></div>
      <div ng-if="$ctrl.show">
        <button class="floating-buttonH" ng-click="show()">  HELP </button>
      </div>
      <button class="floating-buttonC" ng-if="$ctrl.doctor" ng-click="$ctrl.curred()"> Curred </button>

      <button class="floating-buttonA" ng-if="$ctrl.reply" ng-click="$ctrl.accept()"> Accept</button>
      <button class="floating-buttonR" ng-if="$ctrl.reply" ng-click="$ctrl.refuse()"> Refuse</button>
      <button class="floating-buttonC" ng-if="$ctrl.state" ng-click="$ctrl.endMission()"> Saved</button>
      <div class="floating-text" ng-if="$ctrl.doctor">
        <p><b><em>{{$ctrl.doctor.prenom}} {{$ctrl.doctor.nom}}</em> accept your help
        </b>and is coming from : <br>{{$ctrl.place.address}}<br>
        <b>Estimated time of arrival :</b><br> {{$ctrl.place.time}}</p>
      </div>
      <div class="floating-text" ng-if="$ctrl.content">
        <p><b>aidReceiver's address :</b><br>{{$ctrl.place.address}}<br>
          <b>Estimated time of arrival :</b><br> {{$ctrl.place.time}}</p>
        <p  ng-if="$ctrl.reply">{{$ctrl.content.prenom}} {{$ctrl.content.nom}} needs your help. Their emergency is a <b>{{$ctrl.content.message}} </b>
        </p>
      </div>
      <a class="button button-icon icon ion-ios-navigate" ng-click="$ctrl.reload()"></a>
    </ion-content>
  </ion-content>
</ion-view>
