.settingsInput::-webkit-.settingsInput-placeholder {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.settingsInput::-webkit-.settingsInput-placeholder:focus {
  display: none;
  color: rgb(127,219,255);
}

.settingsInput {
  padding: 1em 0 2em !important;
  border: none;
  text-align: center;
  border-bottom: solid 1px rgb(56, 126, 245);
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, rgb(56, 126, 245) 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, rgb(56, 126, 245) 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: rgb(0,73,102);
}

.settingsInput:focus,
.settingsInput:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
  color: rgb(0,73,102);
}

.settingsInput:focus::-webkit-.settingsInput-placeholder,
.settingsInput:valid::-webkit-.settingsInput-placeholder {
  color: rgb(56, 126, 245);
  font-size: 11px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  visibility: visible !important;
}

.params {
  color: rgb(0,73,102);
  background-color: rgb(127,219,255);
}

#params i {
  color: rgb(127,219,255);
}
