<ion-modal-view ng-if="!$ctrl.closeSignup">
  <ion-header-bar>
    <h1 class="title">FirstSafe</h1>
    <div class="buttons">
      <button class="button button-icon ion-ios-close-empty" ng-click="closeSignup()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="signup">
          <input type="text" ng-model="loginData.prenom" placeholder="Username" class="signupInput">
          <input type="text" ng-model="loginData.nom" placeholder="Surname" class="signupInput">
          <input type="email" ng-model="loginData.email" placeholder="Email" class="signupInput">
          <input type="number" ng-model="loginData.age" placeholder="Age" class="signupInput">
          <input type="text" ng-model="loginData.gender" placeholder="Gender" class="signupInput">
          <input type="password" ng-model="loginData.password" placeholder="Password" class="signupInput">
          <input type="password" ng-model="loginData.password" placeholder="Re-type Password" class="signupInput">
          <label class="item item-input item-select">
        <div class="input-label">Situation  </div>
            <select ng-model="loginData.situation" required>
              <option selected></option>
              <option>aidProvider</option>
              <option>aidReceiver</option>
            </select>
          </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" type="submit"  ng-click="$ctrl.doSignup(loginData) || closeSignup()">Sign up</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
