<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">FirstSafe</h1>
    <div class="buttons">
      <button class="button button-icon ion-ios-close-empty" ng-click="closeSignup()"></button>
    </div>
  </ion-header-bar>
  <ion-content >
    <form ng-submit="$ctrl.doSignup()">
      <div >
          <input type="text" ng-model="$ctrl.loginData.username" placeholder="Username" class="signupInput">
          <input type="text" ng-model="$ctrl.loginData.nom" placeholder="Surname" class="signupInput">
          <input type="email" ng-model="$ctrl.loginData.email" placeholder="Email" class="signupInput">
          <input type="password" ng-model="$ctrl.loginData.password" placeholder="Password" class="signupInput">
          <input type="password" ng-model="$ctrl.loginData.password" placeholder="Re-type Password" class="signupInput">
          <input type="number" ng-model="$ctrl.loginData.age" placeholder="Age" class="signupInput">
          <input type="text" ng-model="$ctrl.loginData.gender" placeholder="Gender" class="signupInput">
          <label class="item item-input item-select">
        <div class="input-label">Situation  </div>
            <select ng-model="$ctrl.loginData.situation" required>
              <option selected></option>
              <option>aidProvider</option>
              <option>aidReceiver</option>
            </select>
          </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" type="submit">Sign up</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
