#map {
    width: 100%;
    height: 100%;
}

.scroll {
    height: 100%;
}

.marker {
    border-radius: 30px;
}

.markerContent {
    border-radius: 100em;
    height: 50px;
    width: 50px;
    position: sticky;
    /*border-top: 0.063em solid #ccc;*/
}
#margin {
  padding-top: 3em;
}
#logo {
    max-height: 40px;
    position: fixed;
    z-index: 10;
    background-image: url("/img/sharker.png");
    background-position: center;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    margin: -5px;
}
