body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

h2 {
  text-align: center;
}

#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

.marker {
  border-radius: 30px;
}

.markerContent {
  border-radius: 100em;
  height: 50px;
  width: 50px;
  position: sticky;
}

#margin {
  padding-top: 3em;
}


.floating-buttonA {
  position: absolute;
  top: 10px;
  z-index: 5;
  margin: 83vh 5em;
  text-align: center;
  overflow: hidden;
  border-width: 0;
  outline: none;
  background-color: #1FBD8B;
  color: #ecf0f1;
  padding: 0.9em 2em;
}

.floating-buttonH {
  position: absolute;
  top: 10px;
  z-index: 5;
  margin: 83vh 10em;
  text-align: center;
  overflow: hidden;
  border-width: 0;
  outline: none;
  background-color: rgb(199,59,54);
  color: #ecf0f1;
  padding: 0.9em 2em;
}

.floating-buttonC {
  position: absolute;
  top: 10px;
  z-index: 5;
  margin: 83vh 10em;
  text-align: center;
  overflow: hidden;
  border-width: 0;
  outline: none;
  background-color: #1FBD8B;
  color: #ecf0f1;
  padding: 0.9em 2em;
}

.floating-buttonR {
  position: absolute;
  top: 10px;
  z-index: 5;
  margin: 83vh 14em;
  text-align: center;
  overflow: hidden;
  border-width: 0;
  outline: none;
  background-color: rgb(17,17,17);
  color: #ecf0f1;
  padding: 0.9em 2em;
}

.refuse-button {
  position: absolute;
  top: 10px;
  margin: 83vh 38vh;
}

.floating-text {
  position: absolute;
  top: 9px;
  z-index: 9999999;
  margin: 0 19vh;
  background-color: #FFFFFF;
  border-radius: 0.5em;
  width: 17em;
  padding: 1em;
}

.avatar img {
  height: 10em;
  margin: auto 20px;
}
// .menuImage {
//   width: 22em;
//   height: 15em;
//   height: auto;
//   position: fixed;
//   background-repeat: no-repeat;
//   background-position: center !important;
//   background-size: cover !important;
//   display: inline-block;
// }

.imageMenu {
  width: 11em;
  height: 11em;
  border-radius: 9em;
  -webkit-border-radius: 9em;
  -moz-border-radius: 9em;
  background-repeat: no-repeat;
  margin: 0.5em auto;
  display: block;
  background-size: contain;
}

.ion-ios-navigate {
  position: absolute;
  top: 9px;
  z-index: 9999999;
  display: inline-block;
  margin: 30em 3em;
  position: absolute;
  top: 10px;
  margin: 83vh 1vh;
  color: #387EF5;
}

.labels {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 28px;
  height: 28px;
  margin-left: -14px;
  margin-top: -14px;
  box-shadow: 0 0 0 4px #54BBBA;
  border-radius: 50%;
  -webkit-animation: marker_sonar 2s linear infinite;
  animation: marker_sonar 2s linear infinite;
}
@-webkit-keyframes marker_sonar {
  0% {
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
    opacity: 1;
  }

  100%,
  50% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }
}
@keyframes marker_sonar {
  0% {
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
    opacity: 1;
  }

  100%,
  50% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }
}
