<ion-view view-title="FirstSafe">
  <ion-content>
    <div class="list card">

      <div class="item">
        <h2>Donation</h2>
        <p>Thanks for using FirstSafe</p>
      </div>

      <div class="item item-body">
          <p> As this is a volunteer service, donations help us help others</p>
        <p>
          <div class="row">
            <div class="col text-center">
              <button class="button button-center button-clean button-outline button-balanced ">Donate</button>
            </div>
          </div>
        </p>
      </div>
      <img class="full-image" src="img/firstSafe.png">

    </div>
  </ion-content>
</ion-view>
