<ion-view view-title="FirstSafe">
  <ion-content>
    <div class="list card">

      <div class="item">
        <h2>Donation</h2>
        <p>Thanks for using the app.</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/logo.png">
        <p>
          Please ....
        </p>
        <p>
          <div class="row">
            <div class="col text-center">
              <button class="button button-center button-clean button-outline button-balanced ">Donate</button>
            </div>
          </div>
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>
