h1 {
  text-align: center;

}

.loginInput::-webkit-.loginInput-placeholder {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: rgb(56, 126, 245) !important;
}

.loginInput {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  text-align: left;
  border: none;
  text-align: center;
  padding: 10px 0;
  border-bottom: solid 1px rgb(56, 126, 245);
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, rgb(56, 126, 245) 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, rgb(56, 126, 245) 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: rgb(56, 126, 245) !important; //  font-weight: bold;
}

.loginInput:focus,
.loginInput:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

.loginInput:focus::-webkit-.loginInput-placeholder,
.loginInput:valid::-webkit-.loginInput-placeholder {
  color: rgb(56, 126, 245);
  font-size: 11px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  visibility: visible !important;
}

.loginSignup {
  // display: block;
  // text-align: center;
  margin: 2em;
}
// .splashScreen {
//   //background-image: url('http://www.nexus5wallpapers.com/wp-content/uploads/Water%20Drops/Water%20Drops%20Nexus%205%20Wallpapers%20HD%2042.jpg');
//   position: fixed;
//   z-index: 10;
//   background-position: center !important;
//   background-size: cover !important;
//   background-repeat: no-repeat !important;
// }

.footerLogo {
  text-align: center;
  z-index: 10;
  height: 44px;
  display: inline-block;
  margin-top: 91vh;
  //: absolute;
}

.loginContainer {
  margin-top: 4em;
  margin-right: auto;
  margin-left: auto;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgb(56, 126, 245) !important;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #FFFFFF !important;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #FFFFFF !important;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #FFFFFF !important;
}

.headerLogin {
  background-color: #FFFFFF; //  background-image: url('/img/firstSafe.png');
}

.footerLogin {
  background-image: url('/img/firstSafe.png');
  background-size: cover; //  width: 100%;
  height: 22.19em;
  background-position: center;
  padding: 0;
  background-repeat: no-repeat;
}
