.item .col,
.item .row {
  padding: 0;
}

.signupInput::-webkit-.signupInput-placeholder {
  font-family: 'roboto', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.signupInput::-webkit-.signupInput-placeholder:focus {
display: none;
}

.signupInput {
  padding: 1em 0 2em !important;
  border: none;
  text-align: center;
  border-bottom: solid 1px rgb(56, 126, 245);
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, rgb(56, 126, 245) 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, rgb(56, 126, 245) 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: #0e6252;
}

.signupInput:focus,
.signupInput:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

.signupInput:focus::-webkit-.signupInput-placeholder,
.signupInput:valid::-webkit-.signupInput-placeholder {
  color: rgb(56, 126, 245);
  font-size: 11px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  visibility: visible !important;
}

.signup {
  display: block;
  text-align: center;
  margin: 2em;
}

.footerSignup {
  background-image: url('img/firstSafe.png');
  background-size: contain; //  width: 100%;
  height: 23.2em;
  background-position: center;
  padding: 0;
  z-index: 999999999;
}
